@model ACME.UI.Web.Models.CalculatorModel
@inject Microsoft.Extensions.Configuration.IConfiguration Config
@addTagHelper *, Microsoft.FeatureManagement.AspNetCore
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        body{
            background-color:blue;
        }
    </style>
</head>
<body>
    <header>
        <h1>Welcome to ACME Calculator</h1>

    </header>
    <section>
        <form method="post" asp-action="Add">
            <label>A</label><input type="number" name="@nameof(Model.A)" value="@Model.A" /><br />
            <label>B</label><input type="number" name="@nameof(Model.B)" value="@Model.B" /><br />
            <button type="submit">Add</button>
            <hr />
            <h1>@Model.Result</h1>
        </form>
    </section>
</body>
</html>
